a.mainmenu {
    color: #DF1E5A;
}
.nav-link {
    color: #DF1E5A !important;
    font-size: 18px !important;
}
.nav-tabs a {
    color: black !important;
    font-weight: 600;
}
.nav-tabs a.active {
    background-color: #0A5A35 !important;
    color: #E7E7E8 !important; 
}
.slide1 {
    background-image: url('/images/banner-img-1.webp');
    background-repeat: no-repeat;
    background-size: cover;
}
.slide2 {
    background-image: url('/images/banner-img-2.webp');
    background-repeat: no-repeat;
    background-size: cover;
}
.slide3 {
    background-image: url('/images/banner-img-3.webp');
    background-repeat: no-repeat;
    background-size: cover;
}
.slide4 {
    background-image: url('/images/slide-4.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.slide5 {
    background-image: url('/images/slide-5.webp');
    background-repeat: no-repeat;
    background-size: cover;
}
.slide6 {
    background-image: url('/images/slide-6.webp');
    background-repeat: no-repeat;
    background-size: cover;
}
.slide7 {
    background-image: url('/images/slide-7.webp');
    background-repeat: no-repeat;
    background-size: cover;
}
.slide1, .slide2, .slide3, .slide4, .slide5, .slide6, .slide7 {
    height: 700px;
}
.carousel-iten .container {
    position: relative;
}
.btnbox {
    position: absolute;
    bottom: 30px;
    font-size: 18px;
}
.btnbox .wh {
    text-decoration: none;
    padding: 10px 16px;
    border: 1px solid #DF1E5A;
    color: #DF1E5A;
    border-radius: 8px;
    margin-right: 8px;
}
.btnbox .gr {
    text-decoration: none;
    padding: 10px 16px;
    color: #E7E7E8;
    background-color: #0A5A35;
    border-radius: 8px;
    margin-right: 8px;
}
.btnbox a.gr:hover {
    background-color: #838f18;
    color: #E7E7E8;
}
.btnbox a.wh:hover {
    background-color: #DF1E5A;
    color: #E7E7E8;
}

.headbar {
    width: 100%;
    background-image: url('/images/header-bar.png');
    background-repeat: no-repeat;
    background-position: center;
    color: beige;
    text-align: center;
    font-size: 24px;
}

.bannerheader h2.firstheader {
    font-size: 34px;
    text-align: center;
    color: #0A5A35;
    font-weight: bold;
}

.bannerheader p {
    text-align: center;
    font-size: 18px;
}

.plansec {
    font-weight: 600;
}
.plansec a {
    text-decoration: none;
    color: black;
}
.choosezoiko {
    background-color: #E7E7E8;
}
.choosezoiko h2 {
    color: #0A5A35;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
}
.zoikoflex {
    display: flex;
    font-size: 24px;
    font-weight: 600;
}
.zoikoflex > div {
    padding: 8px;
}
.simplandeal .card-header {
    text-align: center;
    background-color: #DF1E5A;
    color: white;
    font-size: 20px;
    font-weight: 600;
}
.simplandeal hr {
    color: #DF1E5A;
    border: 2px solid #DF1E5A;
}
.simplandeal a {
    font-weight: 600;
}
.simplandeal ul li {
    font-size: 18px;
    font-weight: 600;
    list-style-type: none;
    margin-left: -24px;
}
.simplandeal ul li::before {
    content: '';
    display: inline-block;
    height: 20px;
    width: 20px;
    background-size: contain;
    background-image: url("/images/check-lg.png");
    margin-right: 5px;
}
.simplandeal .data {
    color: #FECC00;
    font-size: 60px;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    padding-top: -10px;
}
.simplandeal .curprice {
    font-size: 28px;
    font-weight: bold;
    color: #DF1E5A;
}
.simplandeal .card-title {
    color: #0A5A35;
    font-size: 20px;
    font-weight: 600;
}
.simplanbox h2 {
    color: #0A5A35;
    font-weight: bold;
}
.simplanbox p {
    text-align: center;
    font-size: 22px;
}
.simplanbox h4 {
    font-weight: 600;
    color: #0A5A35;
}
.simplanbox .row .col p {
    font-size: 18px;
    line-height: 22px;
}
.refurbished {
    background-color: #E7E7E8;
}
.refurbished h2 {
    text-align: left;
    color: #0A5A35;
    font-weight: 600;
}
.refurbished p {
    text-align: left;
    font-size: 20px;
}
.phoneslider {
    padding-top: 30px;
    padding-bottom: 30px;
}
.phoneslider h5 {
    color: #0A5A35;
    font-weight: 600;
}
.phoneslider .imgbox {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.price {
    font-size: 22px;
    color: #DF1E5A;
}
.productpage h4 {
    color: #838f18;
    font-size: 28px;
}
.checkoutbtn {
    padding: 10px 20px;
    border: 1px solid #0A5A35;
    font-size: 22px;
    color: #DF1E5A;
    margin-top: 20px;
    border-radius: 8px;
    display: inline-block;
    text-decoration: none;
}
.checkoutbtn:hover {
    background-color: #DF1E5A;
    color: #E7E7E8;
    border: none;
}

/** CSS for phone storage options */
.storage-options {
    display: inline;
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
}
.storage-contain {
    display: inline-flex;
    list-style-type: none;
    padding: 10px 16px;
    border: 1px solid #555555;
    margin-right: 5px;
    line-height: 15px;
}

.switchnsave {
    background-image: url('/images/switchnsave.webp');
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    margin: 40px 0px;
    position: relative;
}
.snslink {
    position: absolute;
    bottom: 20px;
    left: 20%;
}
.snslink a {
    padding: 12px 60px;
    color: #DF1E5A;
    border: 1px solid #DF1E5A;
    border-radius: 8px;
    text-decoration: none;
    font-size: 20px;
    margin-right: 22px;
}
.snslink a:hover {
    background-color: #DF1E5A;
    color: #E7E7E8;
}

.allplans {
    padding: 12px 28px;
    color: #DF1E5A;
    font-size: 20px;
    border: 1px solid #DF1E5A;
    border-radius: 8px;
    text-decoration: none;
}
.msicon {
    padding: 0px 12px;
    color: #DF1E5A;
}

/** CSS for phone color options */
.color-options {
    display: inline;
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
}
.color-contain {
    display: inline-flex;
    list-style-type: none;
    width: 10px;
    height: 10px;
    border: 1px solid red;
    margin-right: 5px;
    line-height: 15px;
}
.greybox {
    width: 100%;
    background-color: #f0eeee;
    padding: 0px 0px;
    margin-top: 22px;
    margin-bottom: 30px;
    border-radius: 8px;
}
.greybox h4 {
    color: #DF1E5A;
    padding: 15px 15px;
}
.greybox p {
    font-size: 18px;
    color: #0A5A35;
    padding: 0px 15px;
    margin-bottom: 100px;
}
.redborderbox {
    width: 100%;
    border: 1px solid #DF1E5A;
    border-radius: 8px;
    padding: 18px 18px;
    background-color: white;
}

/** Footer css */
.topfooter {
    background-color: #EEEEEE;
    padding-top: 60px;
    padding-bottom: 60px;
    font-size: 18px;
}
.topfooter h4 {
    color: #0A5A35;
    font-weight: 600;
    margin-bottom: 12px;
}
.topfooter ul li {
    list-style-type: none;
    margin-left: -30px;
    margin-bottom: 12px;
}
.topfooter ul li a {
    text-decoration: none;
    color: black;
}
.dropdown {
    display: inline-block;
    position: relative;
}
.dropdownmenu {
    display: none;
    box-shadow: 0px 8px 16px 0px #0A5A35;
    font-size: 14px;
}
.topfooter .dropdown:hover .dropdownmenu {
    display: block;
    position: absolute;
    z-index: 99;
    background-color: azure;
    padding: 12px;
    min-width: 240px;
}
ul .dropdownmenu li {
    margin-left: 10px;
    padding: 8px;
}
.dropdownmenu a {
    text-decoration: none;
    color: black;
}
.dropdownmenu li:hover {
    color: #0A5A35;
    text-decoration: underline;
}


footer {
    background-image: url('/images/footer-bg.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #E7E7E8;
    padding-top: 60px;
    padding-bottom: 60px;
    font-size: 18px;
}

footer ul li {
    list-style-type: none;
    margin-left: -30px;
    margin-bottom: 20px;
}

footer p {
    margin-top: 30px;
}
footer a {
    text-decoration: none;
    color: #E7E7E8;
}
footer a:hover {
    color: black;
}

@media (max-width: 600px) {
    .switchnsave {
        height: 300px;
        background-size: cover;
    }
    .snslink a {
        padding: 12px 20px;
        color: #DF1E5A;
        border: 1px solid #DF1E5A;
        border-radius: 8px;
        text-decoration: none;
        font-size: 14px;
        margin-right: 22px;
    }
    .slide1, .slide2, .slide3, .slide4, .slide5, .slide6, .slide7 {
        height: 300px;
    }
}